@{
    ViewData["Title"] = "Home Page";
}
<style>
    .container {
        position: relative;
        font-family: Arial;
    }

    .centered {
        position: absolute;
        top: 50%;
        bottom: 50%;
        transform: translate(10%, 50%);
        font-family: Arial;
        font-size: 150%;
        color: whitesmoke;
        line-height: 2em;
        text-shadow: 0px 3px 2px rgba(0,0,0,0.75);
        padding-top: 30px;
        font-weight: 800;
    }
</style>
<div class="body"></div>
<div class="container">
    <img src="http://www.johnrwittphotography.com/wp-content/gallery/buffalo-city/CityHall_night_2_4_16-2670s-33.jpg" alt="BuffaloCityCrimeStatistics" style="width:100%;height:542px;">
    <div class="centered">Buffalo City Crime Data Portal is intended to analyse the crime rates in the city</div>
</div>
    <h1 style="color:#000080;">CRIME STATISTICS </h1>
        <div class="row">
            <div class="col-md-3">
                <h2>
                    <a asp-area="" asp-controller="Home" asp-action="CrimesByYear">
                        <br>
                        <img src="https://image.ibb.co/kaut89/1.jpg" alt="1" style="width:200px;height:200px" ;>
                    </a>
                </h2>

            </div>
            <div class="col-md-3">
                <h2>
                    <a href="/Home/OverallMonthlyTrends">
                        <br>
                        <img src="https://image.ibb.co/eqXrvp/2.jpg" alt="1" style="width:200px;height:200px" ;>
                    </a>
                </h2>

            </div>
            <div class="col-md-3">
                <h2>
                    <a href="/Home/OverallWeeklyTrends">
                        <br>
                        <img src="https://image.ibb.co/cztEFp/3.jpg" alt="1" style="width:200px;height:200px" ;>
                    </a>
                </h2>

            </div>
            <div class="col-md-3">
                <h2>
                    <a href="/Home/Top5Crimes">
                        <br>
                        <img src="https://image.ibb.co/cekuFp/4.jpg" alt="1" style="width:200px;height:200px" ;>
                    </a>
                </h2>

            </div>
            <div class="col-md-3">
                <h2>
                    <a href="/Home/Top5CrimesHourlyTrends">
                        <br>
                        <img src="https://image.ibb.co/iOrjFp/5.jpg" alt="1" style="width:200px;height:200px" ;>
                    </a>
                </h2>

            </div>
        </div>
