@{
    ViewData["Title"] = "Landing 1";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>General crime stats</p>


<html>
<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">// Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', { 'packages': ['corechart'] });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <!--Divs that will hold the charts-->
    <div class="row">
        <div class="col-md-6">
            <div id="chart_div"></div>
        </div>
        <div class="col-md-6">
            <div id="chart_div2"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="chart_div3"></div>
        </div>
        <div class="col-md-6">
            <div id="chart_div4"></div>
        </div>
    </div>
    <script type="text/javascript">
        // Set a callback to run when the Google Visualization API is loaded.
        $(document).ready(function () {
            // Display the Crimes By Year Graph
            var crimesByYearData = $.ajax({
                url: '/CrimesByYear/GetData',
                dataType: "json",
                async: false
            }).done(function (jsonData) {
                //console.log(jsonData);
                // Create our data table out of JSON data loaded from server.
                var data = new google.visualization.DataTable();
                data.addColumn('number', 'Year');
                data.addColumn('number', 'Number of Crimes');

                jsonData.forEach(function (row) {
                    //console.log(row);
                    data.addRow([
                        row.year,
                        row.crimeCount
                    ]);
                });

                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

                // Set chart options
                var options = {
                    title: 'Number of crimes reported from 2013 to 2017',
                    width: 400,
                    height: 300,
                    bars: 'horizontal',
                    legend: { position: "none" },
                    vAxis: { maxValue: 10, format: '0' }
                };

                // Draw chart.
                chart.draw(data, options);
            }).fail(function (jq, text, err) {
                console.log(text + ' - ' + err);
            });
        
            // Display the Monthly Crimes Graph
            var crimeMonthyData = $.ajax({
                url: '/MonthlyCrimeTrends/GetData',
                dataType: "json",
                async: false
            }).done(function (jsonData) {
                console.log(jsonData);
                // Create our data table out of JSON data loaded from server.
                var data3 = new google.visualization.DataTable();
                data3.addColumn('string', 'Month');
                data3.addColumn('number', 'Number of Crimes');

                var rowData = [];
                jsonData.forEach(function (row) {
                    console.log(row);
                    var rowInfo = [];
                    rowInfo[0] = row.month;
                    rowInfo[1] = row.crimeCount;

                    rowData.push(rowInfo);
                });

                data3.addRows(rowData);
        
                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.LineChart(document.getElementById('chart_div3'));

                // Set chart options
                var options = {
                    title: 'Monthly Crime Trends',
                    width: 600,
                    height: 300,
                    bars: 'horizontal',
                    legend: { position: "none" }
                };

                // Draw chart.
                chart.draw(data3, options);
            }).fail(function (jq, text, err) {
                console.log(text + ' - ' + err);
            });
        });
    </script>
    
</body>
</html>